.navbar {
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.suggerimentiRicerca {
  width: 289px;
  background-color: white;
  position: absolute;
  z-index: 1001;
  top: 63px;
  left: 618px;
  border: 2px solid gray;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.listaPokemon {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.card:hover {
  transition: 0.2s linear;
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 5px 10px 10px 1px #e05f6c;
}

.form-control:focus {
  box-shadow: none;
  border: 2px solid black;
}

.sfondo {
  background-image: url(../asset/Back-ground-pokemon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.tags {
  padding: 0px 5px;
  border-radius: 6px;
  background-color: transparent;
}

.fuoco {
  border: 1px solid red;
  color: red;
}

.fuoco:hover {
  background-color: red;
  transition: 0.5s linear;
  color: white;
}

.erba {
  border: 1px solid green;
  color: green;
}

.erba:hover {
  background-color: green;
  transition: 0.5s linear;
  color: white;
}

.veleno {
  border: 1px solid purple;
  color: purple;
}

.veleno:hover {
  background-color: purple;
  transition: 0.5s linear;
  color: white;
}

.terra {
  border: 1px solid wheat;
  color: black;
}

.terra:hover {
  background-color: wheat;
  transition: 0.5s linear;
  color: black;
}

.volante {
  border: 1px solid gainsboro;
  color: black;
}

.volante:hover {
  transition: 0.5s linear;
  background: linear-gradient(
    180deg,
    rgba(220, 220, 220, 1) 50%,
    rgba(255, 255, 255, 1) 50%
  );

  color: black;
}

.acqua {
  border: 1px solid aquamarine;
  color: black;
}

.acqua:hover {
  transition: 0.5s linear;
  background-color: aquamarine;
  color: black;
}

.coleottero {
  border: 1px solid greenyellow;
  color: black;
}

.coleottero:hover {
  transition: 0.5s linear;
  background-color: greenyellow;
  color: black;
}

.normale {
  border: 1px solid gainsboro;
  color: black;
}

.normale:hover {
  transition: 0.5s linear;
  background-color: gainsboro;
  color: white;
}

.elettro {
  border: 1px solid yellow;
  color: black;
}

.elettro:hover {
  transition: 0.5s linear;
  background-color: yellow;
  color: black;
}

.fata {
  border: 1px solid palevioletred;
  color: palevioletred;
}

.fata:hover {
  transition: 0.5s linear;
  background-color: palevioletred;
  color: white;
}

.lotta {
  border: 1px solid tomato;
  color: tomato;
}

.lotta:hover {
  transition: 0.5s linear;
  background-color: tomato;
  color: black;
}

.psico {
  border: 1px solid violet;
  color: violet;
}

.psico:hover {
  transition: 0.5s linear;
  background-color: violet;
  color: white;
}

.roccia {
  border: 1px solid gray;
  color: gray;
}

.roccia:hover {
  transition: 0.5s linear;
  background-color: gray;
  color: white;
}

.metallo {
  border: 1px solid slategrey;
  color: slategrey;
}

.metallo:hover {
  transition: 0.5s linear;
  background-color: slategrey;
  color: white;
}

.ghiaccio {
  border: 1px solid blue;
  color: black;
}

.ghiaccio:hover {
  transition: 0.5s linear;
  background-color: blue;
  color: white;
}

.fantasma {
  border: 1px solid white;
  color: white;
  box-shadow: 0px 0px 3px 0px rgb(94, 94, 94);
}

.fantasma:hover {
  transition: 0.5s linear;
  border: 1px solid black;
  background-color: black;
  box-shadow: none;
  color: white;
}

.drago {
  border: 1px solid teal;
  color: teal;
}

.drago:hover {
  transition: 0.5s linear;
  background-color: teal;
  color: white;
}
